@font-face {
  font-family: "Neue Haas Grotesk Display Pro";
  src: url("landingpage/fonts/NeueHaasDisplay-Roman.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ITC Century Std";
  src: url("landingpage/fonts/Itc-century-lt-book.ttf");
  font-weight: normal;
  font-style: normal;
}

body {
  color: #052C33 !important;
}

.header
{
	background-color: #FFF0F0;
	justify-content: center;
	position: -webkit-sticky; /* Safari */
	position: sticky;
	top: 0;
	z-index: 1;
	font-family: "Neue Haas Grotesk Display Pro";
	font-size: 1.6em;
	padding: 0.6em;
}

.texteheader
{

}

.phrasesousimgdioka
{
	font-family: "ITC Century Std";
	font-size: 1.8em;
}

.scroll
{
	font-family: "ITC Century Std";
	font-size: 1em;
}

#fleche {
  
  animation: bounce 1.4s infinite;
  height: 2em;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}


.phrasefindesgaleres
{
	font-family: "Neue Haas Grotesk Display Pro";
	padding: 1.1em;
	font-size: 1.6em;
	border-top: solid 0.5px black;
  	border-bottom: solid 0.5px black;
  	justify-content: center;
}

.titresgirlhair
{
	font-family: "ITC Century Std";
	font-size: 2.2em;
}

.textegirlhair
{
	font-family: "Neue Haas Grotesk Display Pro";
	font-size: 1.2em;
}

.girlhairimage
{
	padding: 0% !important;
}

.imagephone
{
	position: absolute !important;
	top: -80%;
	left: 29%;
	
}

.guillemets
{
	font-family: "ITC Century Std";
	font-size: 2em;
	position: relative;
	top: 0.5em;
}

.phrasevousnaurezpluspeur
{
	background-color: #FFF0F0;
	font-family: "ITC Century Std";
	font-size: 3em;
}

.unehistoiredesoeurs
{
	font-family: "ITC Century Std";
	font-size: 1.6em;
	padding: 1.6em;
}

.textepresentationdioka
{
	font-family: "Neue Haas Grotesk Display Pro";
	font-size: 1.4em;
	padding-left: 1em;
	padding-right: 1em;
}

.dabaetseynabou
{
	font-family: "ITC Century Std";
	font-size: 1.6em;
}

.suiveznoussur
{
	font-family: "ITC Century Std";
	font-size: 2.2em;
	padding: 1em;
}

.images
{
  border-top: solid 0.5px black;
  border-bottom: solid 0.5px black;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.zonedroite
{
	background-color: #052c33;
}

.texte-droite
{
	position: -webkit-sticky; /* Safari */
	position: sticky;
	top: 25%;
	z-index: 1;

}

.texte-droite form input 
{
	color:white !important;
}

.restezconnecte
{
	font-family: "Neue Haas Grotesk Display Pro";
	font-size: 1.6em;
	color: white;
}

.emailzonedroite
{
	background-color: #052c33; 
	border:none;
	border-bottom: gray 1px solid ;
	outline: 0;
}


.flecheinputzonedroite
{
	/*position: absolute; 
	top: 30%; 
	right: 10%; */
	width: 25%;
}

.footer-titre
{
	font-family: "ITC Century Std";
	font-size: 1.5em;
}

.footer-texte
{
	font-family: "ITC Century Std";
	font-size: 1em;
}

.footer form input 
{
	color: black !important;
}

.emailfooter
{
	border:none;
	border-bottom: gray 1px solid ;
	outline: 0;
}

.flecheinputfooter
{
	/*position: absolute;
	bottom: -15%;
	right: 37%;*/
	width: 25%;
}

.iconesfooter2
{
	display: none !important;
}

/* CSS pour smartphone */

@media only screen and (max-width: 600px) {

.zonedroite
{
	display: none !important;
}

.footer
{
	text-align: center;
}

.flecheinputfooter
{
	text-align: center;
}

.iconesfooter1
{
	display: none !important;
}

.iconesfooter2
{
	display: block !important;
	text-align: center;
}


	}
